@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pixelify+Sans:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
  line-height: 1.5;
  font-weight: 300;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #25a149;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  background-color: #ffffff;
  height: 2em;
  text-align: center;
  font-size: large;
  color: #083616;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.statistics-panel{
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: flex-start;
  align-content: flex-start;

  p{
    display: block;
    margin: 0;
  }
}

.player-status{
  margin: 1rem 0;
  background-color: #f9f9f9;
}
.progress-bar-container{
 display: flex;
 position: fixed;
 background-color: #25a149;
 border-radius: 1em;
 padding: 0.2em;
 padding-bottom: 0.5em;
 top: 16vh;
 left: 90vw;
 flex-flow: column nowrap;
 align-items: center;
 align-content: center;
}
.btn-start {
 display: flex;
 align-self: center;
 font-size: larger;
}
.btn-restart {
 display: flex;
 align-self: flex-start;
 font-size: larger;
}
.form-container{
  display: flex;
  border-radius: 2em;
  width: 40vw;
  padding: 4em;
  background-color: #444444;
  flex-direction: column;
  gap: 2em;
}
.form-item{
  display: flex;
  flex-direction: column;
}
.form-label{
  display: flex;
  align-self: flex-start;
}
.map-container{
  border-radius: 1em;
  background-color: #444444;
  margin-top: 1em;
  padding: 1em 1em 1em 1em;
}
.swal2-popup {
  font-family: "Ubuntu", sans-serif;;
  background-color: #444444 !important;
  color: #ffffff;
  border-radius: 1em !important;
  padding:1em;
}

.swal2-title {
  font-family: "Pixelify Sans", sans-serif;
}

.swal2-confirm {
  background-color: #25a149 !important;
  font-family: "Pixelify Sans", sans-serif;
  font-size: larger;
}